# Run manually to reformat a file:
# clang-format -i --style=file <file>
Language: C
BasedOnStyle: Google
IndentWidth: 4
SortIncludes: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AllowShortEnumsOnASingleLine: false
